body {
    background-color: #f1f1f1; /* set background color to anti-flash white */
    color: #000000; /* set text color to black */
    font-family: Verdana, sans-serif, Tahoma, Helvetica, Arial;
    font-size: 24px;
}