body {
    background-color: #f1f1f1; /* set background color to anti-flash white */
    color: #000000; /* set text color to black */
    font-family: Verdana, sans-serif, Tahoma, Helvetica, Arial;
}

header {
    background-color: #3B4046 !important; /* set background color to dark cyan */
}

.profile-img {
    width: 10rem;
    max-width: 200px;
    height: auto;
}

.navbar .nav-link {
    color: white !important;
    text-align: center;
}

.navbar .nav-link:hover {
    background-color: white !important;
    color: black !important;
}

footer {
    background-color: #3B4046; /* set background color to dark cyan */
    color: white;
    font-family: Verdana, sans-serif, Tahoma, Helvetica, Arial;
}

.footer-img {
    width: 2rem;
    height: auto;
}

.custom-download-btn {
    background-color: #3B4046 !important; /* set button background color to dark cyan */
    color: white !important; /* set button text color to white */
    border: none !important; /* remove button border */
}

.custom-download-btn:hover {
    background-color: lightgray !important; /* set button hover background color to light gray */
    color: black !important; /* keep button text color white on hover */
}

.resume-embed-container {
    width: 90%;
    height: 70vh;
    border: 1px solid #ccc; /* light gray border */
    margin-bottom: 1rem;
}

.pdf-dimensions {
    width: 100%;
    height: 100%;
}